Запись на тест драйв с сайта spb-yamaha.ru

Имя: <%=@options[:name]%>
Обратный E-mail: <%=@from%>
Телефон: <%=@options[:phone]%>
Опыт вождения: <%=@options[:option1]%>
Наличие мототехники: <%=@options[:option2]%>
Наличие прав: <%=@options[:option3]%>
Тип техники для тест драйва: <%=@options[:option4]%>

Сообщение: 
<%=@options[:comments]%>