#black_filter {
	background-color: black;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
	opacity: 0.53;
	filter: alpha(opacity=53);
}
.form_container {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 11;
	top: 0px;
	left: 0px;
}
.form_container td {vertical-align: middle;}
.default_form {
	width: 500px;
	margin: 80px auto;
	background-color: white;
	border: solid 5px #323232;
	padding: 25px;
	padding-top: 0px;
	position: relative;
}
	.default_form h1 {
		display: block;
		font-size: 18px;
		font-weight: normal;
		line-height: 27px;
		padding-bottom: 3px;
		color: white;
		background-color: #d52b1e;
		text-indent: 25px;
		margin-left: -25px;
		margin-right: -25px;
		margin-bottom: 20px;
	}
.default_form input, .default_form textarea {
	display: block;
	border-style: solid;
	border-width: 1px;
	border-top-color: #666666;
	border-bottom-color: #d5d5d5;
	border-left-color: #b5b5b5;
	border-right-color: #b5b5b5;
	font-size: 16px;
	line-height: 20px;
	padding: 8px;
}
	.default_form .right_comment {
		float: left;
		width: 115px;
		padding: 3px 8px;
		//padding: 4px 8px;
		padding-right: 0px;
		font-size: 12px;
	}
	.default_form .right_comment a {
		font-size: 12px;
	}
	.default_form label {
		font-size: 12px;
		color: #3f3f3f;
		display: block;
		clear: both;
		margin: 6px 0px;
	}
	.default_form input {
		width: 356px;
		margin: 5px 0px;
		color: #1e1e1e;
		float: left;
	}
	.default_form textarea {
		width: 96%;
		height: 100px;
		margin: 5px 0px;
	}
	.default_form .cols_3 {
		margin: 0px;
		width: 33.333%;
		float: left;
	}
	.default_form .radio label {
		display: block;
		color: #272727;
		line-height: 12px;
	}
	.default_form .radio input {
		display: block;
		width: auto;
		height: auto;
		margin-right: 5px;
		margin-top: 0px;
		float: left;
		border: none;
		margin-bottom: 8px;
		padding: 0px;
	}
	
.default_form .close {
	background-color: #e7e7e7;
	position: absolute;
	top: 30px;
	right: 0px;
	padding: 4px 15px;
	padding-bottom: 7px;
}
	.default_form .close a {
		font-size: 12px;
		line-height: 15px;
		border-bottom: dashed 1px;
		text-decoration: none;
	}

.default_form .error {
	color: #d52b1e;
}