<ul class="gray_menu">
<li><a href="/store/production/moto/">Мотоциклы</a></li>
<li><a href="/store/production/quadro/">Квадроциклы</a></li>
<li><a href="/store/production/rover/">Мотовездеходы</a></li>
<li><a href="/store/production/scooters/">Скутеры</a></li>
</ul>
