<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<%= stylesheet_link_tag "common", "container", "head", "foot", "small_blocks", "main_menu", "horizontal_menu",  "left_menu", "form", "left_menu_items",  "main_page_content", "models_list",  "tech_info_content", "visual_info_content",  "equip_content", "default_page_content", "contact_content", "compare_content", "accessories_content", "application", "sitemap_content", :concat => true, :cache => "style", :media => "all" %>
<%= javascript_include_tag "jquery", "jrails", "margins", "resize", "compare_scroll", "application" %>
<script type="text/javascript" src="/resize.js"></script>
<!--[if lte IE 6]>
<link rel="stylesheet" href="/stylesheets/ie6_fix.css" type="text/css" media="screen" />
<![endif]-->
<%= yield :head %>
</head>
<body>
<div id="black_filter" class="hidden" style="background-image:url(/images/ajax-loader.gif) center center no-repeat"></div>
<%= yield :form_container %>
<div id="main_container">

	<%= render :partial => "shared/header" %>


	<div class="content"><div class="margin_15">
	<!-- контент -->
		<%= yield :breadcrumbs %>
        <%= yield :flash %>
        
        <!--четыре колонки-->
		<%=  yield :layout %>	
		</div>
	</div>


	<%= render :partial => 'shared/footer' %>
</div>
</body>
</html>